<app-wallet-page-header *ngIf="currentWallet"
        [currentWallet]="currentWallet"
        [transactionCount]="currentWallet?.transactions?.length"
></app-wallet-page-header>

<app-line-chart *ngIf="currentWallet && currentWallet.transactions"
                [transactions]="currentWallet?.transactions">
</app-line-chart>

<app-transaction-table *ngIf="walletId && currentWallet && currentWallet.transactions"
        [walletId]="walletId"
        [transactions]="currentWallet.transactions"
        [currency]="walletCurrency"
></app-transaction-table>